doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./css/raziela.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://fb.me/react-15.1.0.js")
    script(src="https://fb.me/react-dom-15.1.0.js")
    

  body
    block content
    script(src="./js/raziela.js")